#general modules
django>3.2,<3.3
python-decouple
pillow
djangorestframework
faker

#third party modules
markdown
django-filter 
drf-yasg[validation]
djangorestframework-simplejwt
django-cors-headers


#deployment modules
django-mail-templated

#refactorin and text 
flake8
black
pytest
pytest-django

#background proccess and cache
celery
Redis
django_celery_beat

